/* personal images w/ info */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	background-color: black;
}

/*navbar background color*/
.navbar {
	background-color: #282828;
	opacity: .8;
}

/*drop down background color*/
.background-dropdown {
	background-color: #282828;
	color: white;
}

/*logo on navbar*/
#GamerEvolutionLogo {
	font-size: 30px;
}
/*end navbar*/


