.make-black {
  background-color: black !important;
}
.make-white {
  background-color: white !important;
}

body {
  background-color: black;
  margin-top: 20px;
  color: black;
  padding-top: 50px;
}

#navbarchange {
  background: #282828;
}



#multi-card {
  background: #282828;
  border-style: double;
  border-color: #3500d3;
  color: white;
  margin: 10px 15px 10px 15px;
  transition: transform .2s;
}

#multi-card:hover {
  transform: scale(1.05);
}

#single-card {
  background: #282828 !important;
  border-style: double;
  border-color: #3500d3;
  color: white;
  margin: 30px 15px 30px 15px;
  transition: transform .2s;
}

#single-card:hover {
  transform: scale(1.01);
}

.img-thumbnail {
  background: #282828 !important;
  border-style: double;
  border-color: #3500d3;
  object-fit: cover;
  display: block;
  margin: 0px auto 0px auto;
  height: 250px;
}

.col-md-9 {
  /* background: #282828; */
  margin: 0px auto 0px auto;
}


.search-menu {
    /* background-color: #3500d3; */
    margin: 10px auto 0px auto;
    border-style: double;
    border-color: #3500d3;
    border-radius: 10px;
    padding: 20px;
}


#chart-button {
    margin-left: auto;
    margin-right: auto;
    display: none;
}
.col-md-12 {
  margin: 25px auto 25px auto;
}

#game-area {
  margin: 0px auto 50px auto;
}

.modal-content {
  background-color: #282828;
  color: white;
  border-style: double;
  border-color: #3500d3;
}

.modal-header {
  border-bottom: 1px solid #3500d3;
}

.modal-footer {
  border-top: 1px solid #3500d3;
}

#add-to-favorites-button {
  border-color: #6c757d;
  background-color: black;
}

#add-to-favorites-button:hover {
  background-color: #6c757d;
  box-shadow: 0px 15px 20px #3500d3;
  transform: translateY(-7px);
}

#modal-button {
  border-color: #6c757d;
  background-color: black;
}

#modal-button:hover {
  border-color: #6c757d;
}
