#navbarchange {
	background: #282828;
	font-size: 20px;
}

#GamerEvolutionLogo {
	font-size: 30px;
}

body {
	background-color: black;
	z-index: 500;
}

.top-margin {
	margin-top: 500px !important;
}

/*plugin for carousel*/
#carousel .cloud9-item, #buttons button {
	cursor: pointer;
  }
