
body {
	background-color: black;
	padding-bottom: 70px;
}


#navbarchange {
	background: #282828;
	font-size: 20px;
}

#GamerEvolutionLogo {
	font-size: 30px;
}

/*plugin for carousel*/
#carousel .cloud9-item, #buttons button {
	cursor: pointer;
  }
  
  #carousel {
	  height:1000px;
  }
