@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
	box-sizing: border-box;
}

body {
	background-color: black;
	margin-top: 20px;
	color: black;
	padding-top: 50px;
	font-size: 20px;
	font-family: "Montserrat", sans-serif;
}

/* Navbar Styling */
.navbar {
	background-color: #282828;
	opacity: .8;
}

.background-dropdown {
	background-color: #282828;
	color: white;
}

#GamerEvolutionLogo {
	font-size: 30px;
}
/* End of Navbar */

/* Search Menu Styling */
.search-menu {
	margin: 40px auto 0px auto;
	border-style: double;
	border-color: #3500d3;
	border-radius: 10px;
	padding: 20px;
}

@media screen and (max-width: 1199px) {
	#menu-box {
		margin: 0px auto 15px auto;
		text-align: center;
	}
}
/*end search menu styling */

/*start profile grid stylng*/

.style-row {
	margin: 40px auto 0px auto;
	border-style: double;
	border-color: #3500d3;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0px 0px 10px 20px rgba(94, 12, 226, .550);
}

#profile-area {
	margin: 0px auto 50px auto;
}

/*style profile cards*/
/* .style-p-card {
	background-color: black;
} */

.style-card {
	background-color: black;
	padding: 20px;
}

/*styles the text in the profile card*/
.card-text {
	font-size: 15px;
}
.card-add-btn {
	background-color: black;
	border-color: white;
}

/*adds stlying to he card border*/
.card-img-top {
	width: 100%;
	height: 12rem !important;
}

.img-portfolio {
	height: 10%;
	border-radius: 40%;
	border-style: solid;
	border-color: #5e0ce2;
	box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #a515b8, 0 0 10px #bf08c5, 0 0 10px #ff0080, 0 0 40px blueviolet,
		0 0 75px blue;
}

#multi-card {
	display: inline-block;
	background: #282828;
	border-style: double;
	border-color: #3500d3;
	color: white;
	margin: 20px 0px 15px 20px;
	transition: transform .2s;
}

@media screen and (max-width: 1199px) {
	#multi-card {
		margin: 15px 0px 15px 100px;
	}
}

@media screen and (max-width: 991px) {
	#multi-card {
		display: block;
		margin: 15px auto 15px auto;
	}
}

#multi-card:hover {
	transform: scale(1.05);
}

#add-to-favorites-button {
	border-color: #6c757d;
	background-color: black;
}

#addProfile:hover {
	background-color: #6c757d;
	box-shadow: 0px 15px 20px #3500d3;
	transform: translateY(-7px);
}

/*GAME STYLING*/
.bowser {
	width: 200px;
	height: 100%;
	position: relative;
	top: -200px;
}

.paper-mario {
	position: relative;
	width: 100px;
	height: 100px;
	bottom: 100px;
	left: 20px;
}

.paper-mario.animated {
	animation: jump 1s ease-in-out;
}

.brick {
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 0px;
	left: 50px;
}

.mushroom {
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 50px;
	left: 50px;
}

.upside-down-pipe {
	height: 150px;
	margin-right: 1em;
}

.green-warp-pipe {
	height: 150px;
}

.mini-head {
	background-color: #3500d3;
}

@keyframes jump {
	0% {
		bottom: 100px;
	}
	50% {
		bottom: 450px;
	}
	100% {
		bottom: 100px;
	}
}

/*spin animation*/
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotateY(180deg);
	}
}
